<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.attention">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".dashboard"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startActivity.choose"
            android:theme="@style/AppTheme2" />

        <service android:name=".Notifications.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notifications.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".TopicSubscription.SubscribeTopics"
            android:label="@string/title_activity_subscribe"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".startActivity.NewUser"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme3" />
        <activity android:name=".profileActivity.ProfileActivity" />
        <activity
            android:name=".Notifications.SendNotification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsFeed.Newsfeed"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/AppTheme3" />
        <activity android:name=".TimeTable.timeTableHome"
            android:label="@string/title_activity_timetable"/>
        <activity
            android:name=".startActivity.alogin"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme2" />
        <!-- <activity -->
        <!-- android:name=".main.MainActivity" -->
        <!-- android:label="@string/title_activity_main" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity android:name=".Result.result"
            android:label="@string/title_activity_results"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SeatAllotment.seatAllotment"
            android:label="@string/title_activity_seat"/>
        <activity android:name=".Result.chooseresultdata"
            android:label="@string/title_activity_results"/>
        <activity android:name=".subadmin.SubAdmin"
            android:label="@string/title_activity_subadmin"/>
        <activity android:name=".resultsheet.result_layout"
            android:label="@string/title_activity_results"/>
        <activity android:name=".resultsheet.individualResult"
            android:label="@string/title_activity_results"/>
        <activity android:name=".notificationHistory.NotificationHistory"
            android:label="@string/title_activity_"/>
        <activity
            android:name=".parent_activity.parent"
            android:label="@string/title_activity_parent"
            android:theme="@style/AppTheme3" />
        <activity android:name=".admin.admin"
            android:label="@string/title_activity_admin_info"/>

        <activity android:name=".forum.forum_history"
            android:label="@string/title_activity_forum"/>
        <activity android:name=".qrcode.qrCodeGeneration"></activity>
    </application>

</manifest>